In [1]:
import os
def find_repo_root(startpath):
    current_path = os.path.abspath(startpath) # Path started on
    while True:
        if os.path.isdir(os.path.join(current_path, '.git')) or os.path.isfile(os.path.join(current_path, 'README.md')): # If on git path, return it
            return current_path
        
        parent_path = os.path.dirname(current_path)

        if parent_path == current_path: # If current path is parent path, stop 
            break
        current_path = parent_path # Set current path to parent path, to check if git path again
    return None # If an issue arises 
root = find_repo_root(os.getcwd())

In [ ]:
import numpy as np
import pandas as pd
import csv 

movie_file_1 = f"{root}/Code/Alien Stuff/Alien Tropes - CodeTest.tsv" # CSV for movie one
movie_file_2 = '' # Come back to this later

movie_file_1_df = pd.read_csv(movie_file_1, delimiter = '\t')

matrix_file = f'{root}/Data/liteweight/2020_genre_counts_by_trope.csv'
matrix_df = pd.read_csv(matrix_file)
matrix_df = matrix_df[['Trope', 'Action', 'Adult', 'Adventure', 'Animation', # Drop unnamed column, not sure why .drop doesn't work, had to remove the /N (MAY CAUSE bug)
       'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family',
       'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'News', 'Romance', 'Sci-Fi', 'Short', 'Sport',
       'Thriller', 'War', 'Western', 'Associated_Movies',
       'Number_movies']]
genres_ = ['Trope', 'Action', 'Adult', 'Adventure', 'Animation', # Drop unnamed column, not sure why .drop doesn't work, had to remove the /N (MAY CAUSE bug)
       'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family',
       'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'News', 'Romance', 'Sci-Fi', 'Short', 'Sport',
       'Thriller', 'War', 'Western']

backup_matrix_df = matrix_df.copy() # Make backup with same syntax, keep track of the number of movies mostly


matrix_df.drop("Associated_Movies", axis = 1, inplace = True) # Get rid of this column immediately

not_tropes = matrix_df.columns.difference(['Trope']) # All columns but tropes, so that function does not apply here

matrix_df[not_tropes] = matrix_df[not_tropes].apply(lambda x: x / matrix_df['Number_movies']) # Get percentages

matrix_df.drop('Number_movies', axis = 1, inplace = True) # remove this column

matrix_df.dropna(inplace=True) # Get rid off blank values

matrix_df.sort_values(by = 'Action') # Not entirely sure what this does, but the code does not work without it

#matrix_df.head(15)

movie_file_1_df['Trope'] = movie_file_1_df['Trope'].apply(lambda x: x.replace(" ", '')) # Punctuation
movie_file_1_df = movie_file_1_df.merge(right = matrix_df, on = 'Trope', how = 'left') # Stick dataframes together
movie_file_1_df = movie_file_1_df.drop('Rough Occurence in movie', axis = 1) # Unnecessary FOR NOW
movie_file_1_df = movie_file_1_df.dropna() # Drop NaN values, but maybe should be saved somewhere

tau_ = 600 # Define trope decay, should be included as a variable in a function

end_second = movie_file_1_df['End Time'].max() # Find end time

movie_file_1_df['Active Seconds'] = movie_file_1_df.apply(lambda row: set(range(row['Start Time'], min(row['End Time'] + tau_, end_second))), axis=1) # Make row with active seconds unless it goes past end of movie

movie_file_1_df.head(5)

,Trope,Inverted?/Defied?,Averted/Subverted?,Background?,Setups?,Start Time,End Time,Total Time,Action,Adult,...,Mystery,News,Romance,Sci-Fi,Short,Sport,Thriller,War,Western,Active Seconds
0,ActionSurvivor,No,No,Yes,No,0,7014,7014,0.536145,0.0,...,0.090361,0.0,0.024096,0.192771,0.006024,0.0,0.313253,0.018072,0.012048,"{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1,AdmiringTheAbomination,No,No,No,No,5162,5162,7014,0.433333,0.0,...,0.100000,0.0,0.000000,0.633333,0.000000,0.0,0.300000,0.000000,0.033333,"{5162, 5163, 5164, 5165, 5166, 5167, 5168, 516..."
2,AIIsACrapshoot,No,No,No,No,5130,5130,7014,0.534884,0.0,...,0.046512,0.0,0.011628,0.697674,0.023256,0.0,0.197674,0.000000,0.000000,"{5130, 5131, 5132, 5133, 5134, 5135, 5136, 513..."
4,AlienBlood,No,No,No,No,2373,2462,7014,0.539683,0.0,...,0.063492,0.0,0.000000,0.634921,0.015873,0.0,0.142857,0.000000,0.000000,"{2373, 2374, 2375, 2376, 2377, 2378, 2379, 238..."
5,AlienSky,No,No,No,No,1434,1440,7014,0.540541,0.0,...,0.162162,0.0,0.054054,0.594595,0.000000,0.0,0.135135,0.000000,0.000000,"{1434, 1435, 1436, 1437, 1438, 1439, 1440, 144..."

In [ ]:
def make_time_series(df): # Make empty dataframe and then give a time column that counts from 0 till end of movie 
    time_df = pd.DataFrame()
    times = range(0, end_second)
    time_df['Time'] = times
    #time_df['Active Tropes'] = [0] * len(times)
    #for index, row in df.iterrows():
        #trope = row['Trope']
        #active_seconds = row['Active Seconds']

        
    #for trope in df['Trope']:
    return time_df    

time_df = make_time_series(movie_file_1_df)
time_df.head(5)

   Time
0     0
1     1
2     2
3     3
4     4

In [ ]:
def restructure(df1, df2): # This can be ignored, the code is helpful in getting the Trope column to stay as lists, but doesn't work with genre
    # Step 1: Explode the "Active Times" column
    df1_exploded = df1.explode('Active Seconds')

    # Step 2: Merge with df2 on the time column
    merged_df = df2.merge(df1_exploded, left_on='Time', right_on='Active Seconds', how='left')

    # Step 3: Group by time and aggregate names
    result = merged_df.groupby('Time')['Trope'].agg(lambda x: ', '.join(x.dropna())).reset_index()
    
    return result

test = restructure(movie_file_1_df, time_df)

test.head()

   Time                                              Trope
0     0  ActionSurvivor, AnyoneCanDie, AsYouKnow, Audie...
1     1  ActionSurvivor, AnyoneCanDie, AsYouKnow, Audie...
2     2  ActionSurvivor, AnyoneCanDie, AsYouKnow, Audie...
3     3  ActionSurvivor, AnyoneCanDie, AsYouKnow, Audie...
4     4  ActionSurvivor, AnyoneCanDie, AsYouKnow, Audie...

In [ ]:
def restructure2(df1, df2, df3):  # This is mostly from ChatGPT, so documentation might not be great

    #df1 is the movie csv, df2 is the structured time series df, and df3 is the matrix
    
    df1 = df1[['Trope', 'Active Seconds']] # Fix the movie_file_df so that it merges properly
    
    
    # Step 1: Explode 'Active Times' to distribute times across rows
    df1_exploded = df1.explode('Active Seconds').reset_index(drop=True)

    # Step 2: Merge df1_exploded (Active Times and Names) with df3 (Scalar Values)
    df1_with_values = df1_exploded.merge(df3, on='Trope', how='left')

    # Step 3: Merge with df2 to align times with active names and values
    merged_df = df2.merge(df1_with_values, left_on='Time', right_on='Active Seconds', how='left')


    # Step 4: Identify all value columns dynamically (excluding 'Name' and 'Time')
    value_columns = [col for col in df3.columns if col != 'Trope']

    # Step 5: Group by 'Time' and sum each value column
    final_result = merged_df.groupby('Time').agg({
    'Trope': lambda x: list(x.dropna().unique()),  # Keep as list
    **{col: 'sum' for col in genres_}  # Sum all value columns dynamically
}).reset_index()

    # Step 6: Compute row-wise normalization
    final_result['Total Value'] = final_result[value_columns].sum(axis=1)

    for col in value_columns:
        final_result[f'Normalized {col}'] = final_result[col] / final_result['Total Value']

    # Step 7: Drop the 'Total Value' column as it's not needed
    final_result = final_result.drop(columns=['Total Value'])

    result_updater = merged_df.groupby('Time')['Trope'].agg(lambda x: ', '.join(x.dropna())).reset_index() # from previous code, this just keeps the Trope column as lists

    final_result['Trope'] = result_updater['Trope'] # Replace trope column with the lists, ChatGPT's kept returning strings

    return final_result
final_df = restructure2(movie_file_1_df, time_df, matrix_df)
# Select only columns that start with 'Normalized'
normalized_columns = [col for col in final_df.columns if col.startswith("Normalized")]
normalized_columns += ['Trope', 'Time'] 
final_df = final_df[normalized_columns]
final_df['Time'] = final_df['Time'] / end_second
final_df.head()

,Normalized Action,Normalized Adult,Normalized Adventure,Normalized Animation,Normalized Biography,Normalized Comedy,Normalized Crime,Normalized Documentary,Normalized Drama,Normalized Family,...,Normalized News,Normalized Romance,Normalized Sci-Fi,Normalized Short,Normalized Sport,Normalized Thriller,Normalized War,Normalized Western,Trope,Time
0,0.123642,0.00011,0.110652,0.002949,0.011211,0.099464,0.041993,0.00452,0.124131,0.012621,...,0.0,0.018212,0.138361,0.007509,0.002142,0.071132,0.00918,0.004404,"ActionSurvivor, AnyoneCanDie, AsYouKnow, Audie...",0.000000
1,0.123642,0.00011,0.110652,0.002949,0.011211,0.099464,0.041993,0.00452,0.124131,0.012621,...,0.0,0.018212,0.138361,0.007509,0.002142,0.071132,0.00918,0.004404,"ActionSurvivor, AnyoneCanDie, AsYouKnow, Audie...",0.000143
2,0.123642,0.00011,0.110652,0.002949,0.011211,0.099464,0.041993,0.00452,0.124131,0.012621,...,0.0,0.018212,0.138361,0.007509,0.002142,0.071132,0.00918,0.004404,"ActionSurvivor, AnyoneCanDie, AsYouKnow, Audie...",0.000285
3,0.123642,0.00011,0.110652,0.002949,0.011211,0.099464,0.041993,0.00452,0.124131,0.012621,...,0.0,0.018212,0.138361,0.007509,0.002142,0.071132,0.00918,0.004404,"ActionSurvivor, AnyoneCanDie, AsYouKnow, Audie...",0.000428
4,0.123642,0.00011,0.110652,0.002949,0.011211,0.099464,0.041993,0.00452,0.124131,0.012621,...,0.0,0.018212,0.138361,0.007509,0.002142,0.071132,0.00918,0.004404,"ActionSurvivor, AnyoneCanDie, AsYouKnow, Audie...",0.000570

In [ ]:
# Pick time range, start percent, end percent
time_range_1 = [0, 0.5]
time_range_2 = [0.5, 1]

ref_df = final_df[(final_df['Time'] >= time_range_1[0]) & (final_df['Time'] < time_range_1[1])] # Filter out everything not in time range
comp_df = final_df[(final_df['Time'] >= time_range_2[0]) & (final_df['Time'] < time_range_2[1])]

# Pick genre
genre4comp = "Comedy" # This will eventually be a variable for a function
ngenre4comp = 'Normalized ' + genre4comp # Appropriate column name 
ref_df = ref_df[[ngenre4comp, 'Trope', 'Time']] # Reduce df's mostly for readability
comp_df = comp_df[[ngenre4comp, 'Trope', 'Time']]

print('The average ' + genre4comp + ' proportion of the reference section is ' + str(np.mean(ref_df[ngenre4comp])))
print('The average ' + genre4comp + ' proportion of the comparison section is ' + str(np.mean(comp_df[ngenre4comp])))

The average Comedy proportion of the reference section is 0.10234740553785156
The average Comedy proportion of the comparison section is 0.086693095048521