In [ ]:
import pandas as pd
import os 
from Utility.toolbox import find_repo_root

root = find_repo_root()

In [7]:
df = pd.read_csv(f"{root}/Data/Whole_sets/2020_updated_tropeset.csv")
df.head()

,Id,NameTvTropes,NameIMDB,Rating,Votes,Year,ABNegative,ABirthdayNotABreak,ABloodyMess,ABoyAGirlAndABabyFamily,...,[GENRE]Mystery,[GENRE]News,[GENRE]Romance,[GENRE]Sci-Fi,[GENRE]Short,[GENRE]Sport,[GENRE]Thriller,[GENRE]War,[GENRE]Western,[GENRE]\N
0,tt2926810,ABCsOfDeath2,ABCs of Death 2,5.4,7382.0,2014,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,tt3224458,ABeautifulDayInTheNeighborhood,A Beautiful Day in the Neighborhood,0.0,0.0,2019,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,tt0268978,ABeautifulMind,A Beautiful Mind,8.2,767687.0,2001,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,tt0092263,ABetterTomorrow,A Better Tomorrow,7.6,18562.0,1986,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,tt1582465,ABirdersGuideToEverything,A Birder's Guide to Everything,6.3,1933.0,2013,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df.columns

Index(['Id', 'NameTvTropes', 'NameIMDB', 'Rating', 'Votes', 'Year',
       'ABNegative', 'ABirthdayNotABreak', 'ABloodyMess',
       'ABoyAGirlAndABabyFamily',
       ...
       '[GENRE]Mystery', '[GENRE]News', '[GENRE]Romance', '[GENRE]Sci-Fi',
       '[GENRE]Short', '[GENRE]Sport', '[GENRE]Thriller', '[GENRE]War',
       '[GENRE]Western', '[GENRE]\N'],
      dtype='object', length=26279)

In [62]:
genre_columns = df.filter(like='GENRE', axis=1).columns
genre_columns = genre_columns.tolist() 
movie_columns =[ 'Id', 'NameTvTropes', 'NameIMDB', 'Rating', 'Votes', 'Year']
exclude_columns = genre_columns + movie_columns
tropes = df.drop(columns=exclude_columns).columns
tropes.tolist()
print("")

In [ ]:
result = []

for trope in tropes:
    # sum up movies  w trope (value = 1)
    genre_sums = df[df[trope] == 1][genre_columns].sum()
    
    # Collect associated movies
    associated_movies = df[df[trope] == 1]['NameIMDB'].tolist()

    # put into tuple. * expands the sum object into lots of entries in tuple 
    ret = (trope, *genre_sums, associated_movies)

    result.append(ret)


result_df = pd.DataFrame(result, columns=['Trope'] + genre_columns +['Associated_Movies'])
result_df

,Trope,[GENRE]Action,[GENRE]Adult,[GENRE]Adventure,[GENRE]Animation,[GENRE]Biography,[GENRE]Comedy,[GENRE]Crime,[GENRE]Documentary,[GENRE]Drama,...,[GENRE]News,[GENRE]Romance,[GENRE]Sci-Fi,[GENRE]Short,[GENRE]Sport,[GENRE]Thriller,[GENRE]War,[GENRE]Western,[GENRE]\N,Associated_Movies
0,ABNegative,4,0,1,0,0,3,3,0,8,...,0,2,0,0,0,2,0,0,1,"[Andhadhun, Blood Work, Bruce Almighty, Cookie..."
1,ABirthdayNotABreak,5,0,2,0,1,2,4,1,5,...,0,0,1,0,0,3,1,0,0,"[Batman Begins, Beast, Big Game, Creature with..."
2,ABloodyMess,3,0,3,0,0,8,1,0,6,...,0,4,1,0,0,2,0,0,0,"[Carry on Behind, Cloud Atlas, Cornered, Diner..."
3,ABoyAGirlAndABabyFamily,0,0,1,0,0,3,0,0,1,...,0,0,0,0,0,0,0,0,0,"[Honey, I Blew Up the Kid, The Addams Family, ..."
4,ABoyAndHisX,2,0,6,0,0,3,1,0,10,...,0,0,1,1,0,1,0,0,0,"[Air Bud, Alpha, Bumblebee, Fido, Fly Away Hom..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26241,ZombiePukeAttack,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,"[Day of the Dead, Demoni, Scary Movie]"
26242,ZombifyTheLiving,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,[]
26243,Zoom,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,[Time of the Apes]
26244,ZorroMark,8,0,7,0,0,4,1,0,0,...,0,2,1,0,0,1,0,0,0,"[Batman v Superman: Dawn of Justice, Cartouche..."
26245,revenge,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,[Oldboy]

In [ ]:
result_df['Number_movies'] = result_df['Associated_Movies'].apply(len)
result_df.columns = [col.replace("GENRE", "") if "GENRE" in col else col for col in result_df.columns]
result_df.columns = [col.replace("[]", "") if "[]" in col else col for col in result_df.columns]
result_df

,Trope,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,Romance,Sci-Fi,Short,Sport,Thriller,War,Western,\N,Associated_Movies,Number_movies
0,ABNegative,4,0,1,0,0,3,3,0,8,...,2,0,0,0,2,0,0,1,"[Andhadhun, Blood Work, Bruce Almighty, Cookie...",10
1,ABirthdayNotABreak,5,0,2,0,1,2,4,1,5,...,0,1,0,0,3,1,0,0,"[Batman Begins, Beast, Big Game, Creature with...",13
2,ABloodyMess,3,0,3,0,0,8,1,0,6,...,4,1,0,0,2,0,0,0,"[Carry on Behind, Cloud Atlas, Cornered, Diner...",12
3,ABoyAGirlAndABabyFamily,0,0,1,0,0,3,0,0,1,...,0,0,0,0,0,0,0,0,"[Honey, I Blew Up the Kid, The Addams Family, ...",3
4,ABoyAndHisX,2,0,6,0,0,3,1,0,10,...,0,1,1,0,1,0,0,0,"[Air Bud, Alpha, Bumblebee, Fido, Fly Away Hom...",13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26241,ZombiePukeAttack,1,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,"[Day of the Dead, Demoni, Scary Movie]",3
26242,ZombifyTheLiving,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,[],0
26243,Zoom,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,[Time of the Apes],1
26244,ZorroMark,8,0,7,0,0,4,1,0,0,...,2,1,0,0,1,0,0,0,"[Batman v Superman: Dawn of Justice, Cartouche...",9
26245,revenge,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,[Oldboy],1

In [74]:
result_df.to_csv(f"{root}/Data/liteweight/2020_genre_counts_by_trope.csv")